/* login */

.form-login {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    font-size: 1.1rem;
}

.disabled-bg{
    display: none;
}

.form-login .form-login-x-btn{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.form-login .login-main{
    display: flex;
}

.form-login .container{
    width: 80%;
    margin: 0 auto;
}

.form-login .login-main .login-main-preview{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-login .login-main .login-main-preview .login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.form-login .login-main .login-main-preview .login-header .welcome-header{
    font-size: 2rem;
    font-weight: 500;
}
.form-login .login-main .login-main-preview .login-header .small-text{
    font-size: 1rem;
    font-weight: 400; 
}

.form-login .login-main .login-main-preview .login-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.form-login .login-main .login-main-preview .login-form label, 
.form-login .tutor-form .tutor-form-preview .tutor-account label,
.form-login .tutor-form .tutor-form-preview .tutor-personal-information label,
.form-login .learner-form .learner-form-preview .learner-account label,
.form-login .learner-form .learner-form-preview .learner-personal-information label,
.form-login .learner-form .learner-form-preview .learner-guardian label,

.form-login .guardian-form .guardian-form-preview .guardian-account label,
.form-login .guardian-form .guardian-form-preview .guardian-personal-information label{
    margin-bottom: 0.2em;
}

.form-login .login-main .login-main-preview .login-form input, 
.form-login .tutor-form .tutor-form-preview .tutor-account input,
.form-login .tutor-form .tutor-form-preview .tutor-personal-information input,
.form-login .learner-form .learner-form-preview .learner-account input,
.form-login .learner-form .learner-form-preview .learner-personal-information input,
.form-login .learner-form .learner-form-preview .learner-guardian input,
.form-login .learner-form .learner-form-preview .learner-guardian select,


.form-login .guardian-form .guardian-form-preview .guardian-account input,
.form-login .guardian-form .guardian-form-preview .guardian-personal-information input{
    margin-bottom: 1em;
    width: 100%;
    padding: 0.6em;
    border-radius: 5px;
    border: 2px solid var(--h-text);
}

.form-login .login-main .login-main-preview .forgot-password{
    margin-bottom: 0.6em;
    font-size: 0.9rem;
}

.form-login .login-main .login-main-preview .login-submit, .form-login .login-main .login-main-preview .create-account{
    width: 100%;
    border-radius: 5px;
    background-color: var(--h-text);
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 2em;
}

.form-login .login-main .login-main-preview .no-account{
    text-align: center;
    width: 80%;
    font-size: 0.8rem;
    margin-bottom: 1em;
}

.form-login .login-main .lines{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.form-login .login-main .lines .line{
    width: 80%;
    height: 1px;
    background-color: var(--h-text);
}

.form-login .login-main .lines .or{
    width: 20%;
    text-align: center;
}

/* SIGN IN */

.form-login .sign-in{
    display: none;
}

.form-login .sign-in .sign-in-preview{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-login .sign-in .sign-in-preview .sign-in-header{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-login .sign-in .sign-in-preview .sign-in-header .type-header{
    font-weight: 600;
    font-size: 1rem;    
    margin-bottom: 0.1em;
}

.form-login .sign-in .sign-in-preview .sign-in-header .p-choose{
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    width: 80%;
}

.form-login .sign-in .sign-in-preview .form-type-radio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-login .sign-in .sign-in-btns{
    display: flex;
    justify-content: space-between;
}

.form-login .sign-in .sign-in-btns button{
    border-radius: 10px;
    width: 50px;
}

.form-login .sign-in .sign-in-btns button:disabled{
    border: 1px solid var(--h-text);
    color: var(--h-text);
}

.form-login .sign-in .sign-in-btns button:enabled, 
.form-login .tutor-form .tutor-btns .prev-btn, 
.form-login .tutor-form .tutor-btns .next-btn,
.form-login .learner-form .learner-btns .prev-btn, 
.form-login .learner-form .learner-btns .next-btn,
.form-login .guardian-form .guardian-btns .prev-btn, 
.form-login .guardian-form .guardian-btns .next-btn,
.form-login .tutor-form .tutor-btns .submit-btn{
    background-color: var(--h-text);
    color: #fff
}

.form-login .submit-btn{
    display: none;
}

.form-login .sign-in .sign-in-preview .form-type-radio .radio-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 1em;
}

.form-login .sign-in .sign-in-preview .form-type-radio .radio-container img{
    width: 55%;
}

/* checker */
.form-login .sign-in .sign-in-preview .form-type-radio .radio-container input{
    display: none;
}

.form-login .sign-in .sign-in-preview .form-type-radio .radio-container label{
    padding: 0.5em 0;
    border: 2px solid var(--h-text);
    border-radius: 5px;
    transition: all ease 0.5s;
    width: 100%;
    text-align: center;
}

.form-login .sign-in .sign-in-preview .form-type-radio .radio-container input[type="radio"]:checked + label {
    /* styles for the label */
    background-color: var(--h-text);
    color: #fff;
    box-shadow: 0px 5px 10px gray;
}

/* TUTOR FORM */
.form-login .tutor-form{
    padding: 3rem 0;
    display: none;
    flex-direction: column;
    align-items: center;
}

.form-login .tutor-form .tutor-header{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.form-login .tutor-form .tutor-header img{
    height: 2rem;
}

.form-login .tutor-form .tutor-header .tutor-title{
    font-size: 1.5rem;
    font-weight: 500;
}

.form-login .tutor-form .tutor-form-preview {
    width: 100%;
}

.form-login .tutor-form .tutor-form-preview .tutor-account{
    display: flex;
    flex-direction: column;
}

.form-login .tutor-form .tutor-form-preview .tutor-form-preview-header{
    text-align: center;
    margin-bottom: 2em;
    color: var(--h-text);
}

.form-login .tutor-form .tutor-btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-login .tutor-form .tutor-form-preview .tutor-personal-information{
    display: none;
    flex-direction: column;
    height: 90%;
    overflow-x: scroll;
}

/* LEARNER FORM */
.form-login .learner-form{
    padding: 3rem 0;
    display: none;
    flex-direction: column;
    align-items: center;
}

.form-login .learner-form .learner-header{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.form-login .learner-form .learner-header img{
    height: 2rem;
}

.form-login .learner-form .learner-header .learner-title{
    font-size: 1.5rem;
    font-weight: 500;
}

.form-login .learner-form .learner-form-preview {
    width: 100%;
}

.form-login .learner-form .learner-form-preview .learner-account{
    display: flex;
    flex-direction: column;
}

.form-login .learner-form .learner-form-preview .learner-form-preview-header{
    text-align: center;
    margin-bottom: 2em;
    color: var(--h-text);
}

.form-login .learner-form .learner-btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-login .learner-form .learner-form-preview .learner-personal-information{
    display: none;
    flex-direction: column;
    height: 80%;
    overflow-x: scroll;
}

/* learner-guardian */

.form-login .learner-form .learner-form-preview .learner-guardian{
    display: none;
    flex-direction: column;
    height: 80%;
    overflow-x: scroll;
}

.form-login .learner-form .learner-form-preview .learner-guardian-header{
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow-x: scroll;
}

.form-login .learner-form{
    padding: 3rem 0;
    display: none;
    flex-direction: column;
    align-items: center;
}

.form-login .learner-form .learner-guardian-header{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.form-login .learner-form .learner-guardian-header img{
    height: 2rem;
}

.form-login .learner-form .learner-header .learner-title{
    font-size: 1.5rem;
    font-weight: 500;
}

.form-login .learner-form .learner-form-preview {
    width: 100%;
}

.form-login .learner-form .learner-form-preview .learner-account{
    display: flex;
    flex-direction: column;
}

.form-login .learner-form .learner-form-preview .learner-form-preview-header{
    text-align: center;
    margin-bottom: 2em;
    color: var(--h-text);
}

.form-login .learner-form .learner-btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-login .learner-form .learner-form-preview .learner-personal-information{
    display: none;
    flex-direction: column;
    height: 80%;
    overflow-x: scroll;
}

/* GUARDIAN-FORM */
.form-login .guardian-form{
    padding: 3rem 0;
    display: none;
    flex-direction: column;
    align-items: center;
}

.form-login .guardian-form .guardian-form-preview .guardian-account{
    display: none;
    flex-direction: column;
}

.form-login .guardian-form .guardian-form-preview{
    width: 100%;
}

.form-login .guardian-form .guardian-form-preview .guardian-account .guardian-form-preview-header{
    text-align: center;
    margin-bottom: 2em;
    color: var(--h-text);
}





.form-login .guardian-form .guardian-header{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.form-login .guardian-form .guardian-header{
    font-size: 1.5rem;
    font-weight: 500;
}

.form-login .guardian-form .guardian-header img{
    height: 2rem;
}

.form-login .guardian-form .guardian-btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* guardian-personal-information */
.form-login .guardian-form .guardian-form-preview .guardian-personal-information{
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow-x: scroll;
}

.form-login .guardian-form .guardian-form-preview .guardian-personal-information .guardian-form-preview-header{
    text-align: center;
    margin-bottom: 2em;
    color: var(--h-text);
}

/* MEDIA QUERIES */
@media (min-width: 375px){
    .form-login{
        height: 630px;
        width: 375px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .disabled-bg{
        height: 100vh;
        width: 100vw;
        position: fixed;
        background-color: #303030;
        z-index: 1;
        opacity: 0.7;
    }
}