.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    overflow-x: hidden;
    padding-top: 20px;
    font-size: 1rem;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {

    margin-bottom: 10px;
  }
  
  .sidebar li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    text-decoration: none;
    padding: 1em;
    color: #333;
  }

 
  
  .sidebar li.active a, .sidebar li a:hover{
    cursor: pointer;
    color: #7951A8;
  }

  .sidebar li a:hover{
    background-color: #ddd;

  }
 
  
  .sidebar li a i {
    margin-right: 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar li a {font-size: 18px;}
  }

  /* sidebar logo */
  .sidebar-logo {
    display: flex;
   
    align-items: center;
    height: 3em;
    padding: 0.5em;
    margin-bottom: 1em;
  }
  
  .sidebar-logo img {
    height: 100%;
    margin-right: 0.8em;
  }

  /* sidebar admin profile */
  .admin-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4;
    padding: 1em;
    font-size: 0.8rem;

  }
  
  .admin-profile img {
    height: 100%;
    width: 4em;
    max-width: 100%;
    border-radius: 50%;
  }
  
  .profile-details {
    width: 8em;
    height: 100%;
    background-color: #f1f1f1;
    margin-left: 1em;
  }

  .mainbar{
    position: relative;
    left: 200px;
    width: calc(100% - 200px);
    height: 100%;
    padding: 1em;
  }

  .mainbar .topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
  }

  .mainbar .topbar i{
    margin-right: 1em;
  }


  .mainbar .search-container{
    display: flex;
    align-items: center;
    width: 60%;
  }
  .mainbar .search-container .search-input{
    font-size: 1rem;
    width: 100%;
    padding: 0.2em;
    border-radius: 5px;
    
  }

  .topbar .right-menu{
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .topbar .right-menu img{
    height: 100%;
    width: 2em;
    border-radius: 50%;
  }

  /* tutors */
  .navbar-title{
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 3em;
  }

  .navbar-title i{
    display: inline-block;
    color: #fff;
    background-color: #7951A8;
    height: 100%;
    border-radius: 5px;
    margin-right: 0.7em;

  }

  .mainbar .sorting-container{
    width: 100%;
    margin-bottom: 1em;
  }
  .sorting-container ul{
    display: flex;
  }
  .sorting-container ul li{
    width: 25%;
    padding: 0.5em; 
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    font-weight: 550;
  }

  .sorting-container ul li:hover{
    background-color: #ddd;

  }

  .mainbar table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 2em;
  }
  
  .mainbar table tr {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
  }

  .mainbar table td, .mainbar table th{
    padding: 0.3em
  }

  .mainbar table th{
    font-weight: bolder;
    font-size: 1rem;
  }

  .mainbar .pagination{
    display: flex;
    justify-content: center;

  }

  .mainbar .pagination > *{
    margin-right: 0.5em;
  }

  /* notifications */
  .notifications ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 1em 1.5em;
    border-bottom: 1px solid #303030;
  }
  .notifications ul li:first-child{
    border-top: 1px solid #303030;
  }

  .notifications ul li img{
    height: 3em;
   width: 3em;
    border-radius: 50%;
    margin-right: 1em;
  }

  .notifications .notifications-info{
    display: flex;
    align-items: center;
  }

  .notifications .notifications-info h4{
    font-weight: bolder;
  }

  .notifications .notifications-info p{
    font-size: 0.8rem;

  }

  .notifications li .time{
    font-size: 0.9rem;
  }

  .notifications .notifications-info .highlight {
    width: fit-content;
    padding: 0.2rem;
    border-radius: 5px;
    font-weight: bolder;
    color: #fff;
    font-size: 0.8rem;
  }
  .notifications .notifications-info .news{
    background-color: greenyellow;
  }
  .notifications .notifications-info .applicants{
    background-color: #7951A8;
  }
  .notifications .notifications-info .website{
    background-color: skyblue;
  }
