/* layout */

.container-flex{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

@media (min-width: 850px){
    .container-flex{
        flex-direction: row;
    }
}


.wall{
    height: 250px;
    position: relative;
}

.wall-bg-home{
    background-color: var(--h-text);
    color: #fff;
}  

.wall-body{
    display: flex;
    border-bottom: 1px solid #fff;
}

.container-wall{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.wall-title{
font-size: 1rem;
}

.wall-sub-title{
font-size: 2rem;
text-align: center;
}

.wall img{
display: none;
}

@media (min-width: 810px){
    .container-wall{
        flex-direction: row;
        justify-content: space-between;
        
    }
    .wall-body{
        flex-direction: column;
        align-items: start;
    }
    .wall img{
        display: block;
        height: 100%;
        max-height: 100%;
        padding-right: 1em;
    }
}

/* header */

header{
    position: fixed;
    width: 100%;
    background-color: #fff;
    transition: background-color 0.5s;
    z-index: 1;
    
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo{
    height: 100px;
}

.quote{
    margin-top: -0.5em;
    display: none;

}

.logo-quote{
margin-bottom: 0.5em;

}

.join{
    cursor: pointer;
}

.h-text{
color: var(--h-text);
}

@media (min-width: 850px){
    .logo-quote{
    margin-bottom: 0;
    }
    .quote{
        margin-top: 0;
        border-left: 1px solid gray;
        padding-left: 0.5em;
        display: block;
    }
    


}

/* navigation */

.nav-sign{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 1em;
    position: absolute;
    left: -100%;
    top: 107.996px;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    padding: 2rem 0;
    transition: var(--trans-05);
}

li{
    margin: 0.5em; 
}

.active, 
ul li a.nav-link:hover{
    border-bottom: 2px solid var(--h-text);
}

#check{
    display: none;
}

#check:checked ~ ul{
    left: 0;
}

.log-in:hover{
    background-color: var(--h-text);
    color: #fff;
}

.log-in{
    color: var(--h-text);
    padding: 0.5em;
    border: 1px solid var(--h-text);
    border-radius: 5px;
    margin-top: 1rem;
    transition: var(--trans-05)
}

.sign-up{
    background-color: var(--h-text);
    color: #fff
}

button{
    margin-bottom: 0.3em;   
}

.icon{
    font-size: 1.8rem;
    display: block;
}

.icon-button{
    font-size: 2.5rem;
    cursor: pointer;
}


@media (min-width: 850px){
    .nav-sign{
        flex-direction: row;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        height: 100%;
        width: fit-content;
        left: 0;
        top: 0;
        z-index: 0;
        position: relative;
    }
    .icon{
        display: none;
    }
    button{
        margin: 0 0.3em ;
    }
    .log-in{
        margin: 0 ;
    }
    .join{
        display: none;
    }
    .container-header{
        flex-direction: row-reverse;
    }
    

}


/* main */

main{
    position: relative;
    top: 100px;
}

.pic-description{
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pic-description img{
    width: 100%;
    border-radius: 10px;
    margin: 1em 0;
}



.pic-description .description{
    text-align: center;
    max-width: 100%;
    font-size: 1rem;
}

.pic-description .title{
    color: #7387F1;
    margin-bottom: 1em;
}


@media (min-width: 810px){
    .pic-description{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .pic-description img{
        width: 45%;
 
    }
    .pic-description .description{
        width: 40%;
    }
    .reversed{
        flex-direction: row-reverse;
    }

}

@media (min-width: 1400px){
    .pic-description{
        justify-content: space-between;
    }
}

@media (min-width: 1070px){
    .pic-description .description{
        font-size: 1.2rem;
    }
}

/* footer */
footer{
    padding: 3em 0;
    position: relative;
    top: 100px;
}
.footer-bg{
    background-color: #303030;
    color: #fff;
}

/* layout */
.info div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.info div h1,
.info div h2,
.info div p,
.info div li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.platforms-logo ul{
    display: flex;
    justify-content: center;
}

.footer-icon{
    font-size: 2rem;
}

.copyright{
    text-align: center;
}

/* typography */
footer h2{
    color: var(--h-text);   
}


@media (min-width: 850px){
    .info{
        display: flex;
        justify-content: space-between;
    }
    .info div{
        align-items: flex-start;
    }
    .info div h1,
    .info div h2,
    .info div p,
    .info div li{
        align-items: flex-start;
    }

}


/* card container */

.card-container{
    display: flex;
    align-items: center;
}

.list-container{
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: fit-content;
    background-color: green;
    justify-content: space-between;
}

.card-container .list-container .card a{
    display: flex;
    width: 144px;
    height: 150px;
    margin: 0 6px;
    border: 1px solid black;
}

.card .card-img{
    height: 10px;
}

.next-btn{
    margin-left: 1em;
}
.prev-btn{
    margin-right: 1em;
}

/* scroll */
#scrollable-element::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  #scrollable-element::-webkit-scrollbar {
  width: 0.5em;
  background-color: #F5F5F5;
}


