.sign-up-container{
   padding: 3.5em 5%;
   background-color: orange;
   justify-content: space-around;
   
}


.sign-up-container .sign-up-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 2em;
}

.sign-up-container .sign-up-header .description{
    max-width: 900px;
    font-size: 2rem;
    color: #fff;
    text-align: center;
}
.sign-up-container .sign-up-header .description{
    color: #fff;
    font-size: 1.1rem;
}



.sign-up-container .img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.sign-up-container .img-container img{
    max-width: 500px;
    width: 200px;
}

.sign-up-container .img-container p strong{
    font-size: 1.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}

.sign-up-container .form-container{
    padding: 0em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-container .form-container .single-form{
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.sign-up-container .form-container .account-details-container .account-details-header{
    text-align: center;
}

.sign-up-container .form-container .signup-btn{
    cursor: pointer;
}

.sign-up-container .form-container input{
    width: 400px;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 1rem;
}

@media(min-width: 750px){
    .sign-up-container .img-container p strong{
        font-size: 2rem;
    }

    .sign-up-container .sign-up-header .description{
        font-size: 1.5rem;
    }
}



@media(min-width: 1080px){
    .sign-up-container{
        display: flex;
     
     }
     
    .sign-up-container .sign-up-header, .sign-up-container .form-container{
        width: 40%;
    }
}


