.schedule-container{
    height: 100%;
    min-height: 500px;
    max-height: 1000px;
    padding: 4em 1em;
    margin-bottom: 5em;
}

.schedule-container table {
    width: 100%;
    border-collapse: collapse;
}
.schedule-container th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
td.pending, td.cancelled, td.confirm{
    color: #fff;
    font-weight: bolder;
}

.schedule-container td.confirm{
    color: green;
}
.schedule-container td.pending{
    color: var(--sea);
}
.schedule-container td.cancelled{
    color: crimson;
}

.schedule-container th {
    background-color: #f2f2f2;
}
.schedule-container tr td.action a{
    padding: 0.5em 1em;
    border-radius: 5px;
}

.schedule-container td.action a.edit{
    background-color: var(--sea);;
}

.schedule-container td.action a.cancel:hover{
    background-color: crimson;
    color: #fff;
    transition: all 0.5s;
}
 
